img{
    max-width: 100%;
    display: block;
}
.box{
    width: 250px;
    display: inline-block;
    position: relative;
}
.box .edit{
    outline: none;
    cursor: pointer;
    border: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    padding: 5px 10px;
    border-top-left-radius: 3px;
}
.layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}
.layer__wrap{
    position: absolute;
    left: 50%;
    top: 50%;
    background: #fff;
}
.scale-area{
    position: absolute;
    top: 0;
    right: 0;
    outline: 4px solid red;
    background: #fff;
}