.mosaic__item{
    position: relative;
    display: inline-block;
}

.mosaic__button{
    position: absolute;
    top:0;
    left: 0;

    display: none;

    cursor: pointer;
}

.mosaic__button--active{
    display: block;
}



.layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}
.layer__wrap{
    position: absolute;
    left: 50%;
    top: 50%;
    background: #fff;
}
.scale-area{
    position: absolute;
    top: 0;
    right: 0;
    outline: 4px solid red;
    background: #fff;
}